# 应用运行端口
PORT=8080
# 高德地图API KEY(Web端 JS API)
map_web_key=your_amap_js_key_here
map_web_secure_key=your_amap_js_security_code_here
# 高德地图API KEY(Web服务端)
map_web_service_key=your_amap_web_service_key_here
